@import "tailwindcss";
@import "../../../internal-packages/ui/style.css";
@import "../../../internal-packages/workflow-designer-ui/src/style.css";

@source "../../../internal-packages/ui";
@source "../../../internal-packages/workflow-designer-ui/src";
@source "../../../packages/text-editor/src/react/";
